.singUp_sing_in{
    width:  33vw;
    height: 80vh;
    margin-left: 35vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.button_div
{
    width: 70%;

    box-shadow: 0 0 10px 4px #0c8b8b;
    border-radius: 1.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.form_button
{
    padding: 0.5vw 1.6vw ;
    cursor: pointer;
    background: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    border:0;
    width: 35%;
    color: white;
}
#btn
{
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;

    transition: .5s;
    background: linear-gradient(90deg,#0c8b8b,#0c8b8b);
    position: absolute;
    border-radius: 1.8vw;
}
.icons
{
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 1vw;

}
.icons i
{
    color:#0c8b8b;
    font-size: 2vw;
}
form{
    height:80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

form .mb-3
{
    display: flex;
    flex-direction: column;
    height: 19%;
    justify-content: space-around;
    padding-left: 1.5vw;
    width: 100%;


}
.mb-3 input,select
{
    height: 50%;
    width: 95%;
}
.mb-3 select
{
    height: 50%;
    width: 95%;
    cursor: pointer;
}
form button
{
    width: 70%;
}
form .selects #university{
    display: none;
}
select[name="Entities"] {
    display: none;
}



